<app-header></app-header>

    <router-outlet></router-outlet>
  <mat-toolbar  style="position:fixed;bottom: 0;background-color: #f2f2f2;box-shadow: 10px 10px;">
    <div class="navigation-bar">
        <a routerLink="./"><mat-icon  aria-hidden="false" class="icon" aria-label="Example home icon">home</mat-icon></a>
        <a routerLink="./search"><mat-icon aria-hidden="false" class="icon" aria-label="Example home icon">search</mat-icon></a>
        <a routerLink="./cart"><mat-icon aria-hidden="false" class="icon" aria-label="Example home icon">shopping_cart</mat-icon></a>
        <a routerLink="./profile"><mat-icon aria-hidden="false" class="icon" aria-label="Example home icon">person</mat-icon></a>
    </div>
  </mat-toolbar>
