
<div style="font-family: 'Titillium Web';">
  <div *ngIf="restaurant;else noRestaurant">
      <div style="background-color: #171a29;" class="header"> 
        <mat-grid-list cols="4" rowHeight="100%">
          <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
                <img [src]="restaurant['Details'].img" class="headerImage" >
          </mat-grid-tile>
          <mat-grid-tile
          [colspan]="3"
          [rowspan]="1"
          >
          <div style='width:100%;color:white;font-size: 3vh;'> 
            <p class="restaurantName">{{restaurant.Details.name}}</p > 
            <span style="margin-right:20px;"  class="restaurantDetails"  *ngFor="let i of restaurant['Details'].foodTypeServed" >{{i}}</span >
            <p  class="restaurantDetails" >{{restaurant.Details.address}}</p>
            <span  class="restaurantDetails" >Ratings : {{restaurant.Details.rating}}</span>|<span  class="restaurantDetails" >Cost For Two : {{restaurant.Details.costForTwo}}</span>
          </div>
        </mat-grid-tile>
        </mat-grid-list> 
      </div>
      <div class="cart">
        <mat-card style="width:70%;margin-left:15%;margin-top:2%">
          <p style="font-size: 25px;text-align: center;font-weight: 800;" class="matPanel">Cart</p>
          <div *ngFor="let order of orders;let i=index;" class="restaurantDetails" style="margin:20px 0px;">
            {{order.food}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{order.price}}&nbsp;&nbsp;&nbsp;
            <span style="position: absolute;right:10px;">
            <button  class="cart-button" (click)="increaseQuantity(i)" mat-mini-fab color="primary">+</button>
            {{order.quantity}}
            <button  class="cart-button" (click)="decreaseQuantity(i)"  mat-mini-fab color="primary">-</button>
            </span>
            <mat-divider style="width:80%;margin-left: 10%;margin-top:20px;"></mat-divider>
            <div class="restaurantDetails" style="min-height: 30px;">
                Total : {{totalCost}}
                <button (click)="loadMap()" style="position: absolute;right:10px;bottom:0px;" class="cart-button-1" mat-raised-button color="primary">Confirm Order</button>
            </div>
          </div>
        </mat-card>
      </div>
      <div style="padding:5%;width:100%">
        <agm-map *ngIf="map" class="map" [latitude]="user.latitude" [longitude]="user.longitude">
          <agm-marker  [latitude]="user.latitude" [longitude]="user.longitude" [iconUrl]="Homeurl"></agm-marker>
          <agm-marker  [latitude]="restaurant.Details.latitude" [longitude]="restaurant.Details.longitude" [iconUrl]="Restauranturl"></agm-marker>
          <agm-marker *ngIf="driver"  [latitude]="driverLatitude" [longitude]="driverLongitude" [iconUrl]="Driverurl"></agm-marker>
        </agm-map>
      </div>
  </div>
  <ng-template #noRestaurant>
    <div style="background-color: #eaeaea;height:100vh;">
      <p style="text-align:center;font-weight:800;font-size:25px;color:white;background-color: #171a29;padding:30px 0px;">Cart</p>
      <p style="text-align:cnter;font-size:20px;">Your cart is Empty</p>
    </div>
  </ng-template>
</div>