
@media screen and (max-width: 600px) {
    .icony{
        width: 60%;
        margin:5% auto;
    }
    .logout-button-1{
        position: absolute;;
        bottom: 20px;
        margin-left:6px;
    }
    .logout-button-2{
        display:none;
    }
}
@media screen and (min-width: 600px) {
    .icony{
        margin:5% auto;
        height:14vh;
        width:7vw;
        border:4px solid white;
        padding:12px;
        padding-left:15px;
        border-radius:50px; 
    }
    .logout-button-2{
        position:absolute;
        bottom:20px;
        margin-left:35%;
    }
    .logout-button-1{
        display:none;
    }
}