<div style="width:25%;height:80%;background-color: black;float:left;font-family: 'Titillium Web'">
  <div style="margin:5% auto;height:14vh;width:7vw;border:4px solid white;padding:12px;padding-left:15px;border-radius:50px; "><mat-icon  style="color:white;font-size: 50px;" aria-hidden="false" class="icon" aria-label="Example home icon">person</mat-icon></div>
  <p style="width:100%;color:white;text-align:center;"> Name : Shreyansh Goyal</p>
  <p style="width:100%;color:white;text-align:center;">Mobile Number: 1010101010</p>
  <p style="width:100%;color:white;text-align:center;">Address : D-10/45 sector-8 Rohini</p>
  <div style="position: relative;height:50%;font-family: 'Titillium Web'">
     <button (click)="logout()"  mat-raised-button color="primary" style="position:absolute;bottom: 0;display: inline-block;margin-left:36%; ">Log Out</button>
  </div>
</div>

<div style="width:74%;float:right;">
  <h2 style="text-align:center;font-family: 'Titillium Web'">Your Previous Orders</h2>
  <mat-card>  

  </mat-card>  
</div>