<div class="body">
  <div class="form">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="example-full-width" >
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" required>
      </mat-form-field>
      <div >
        <button mat-raised-button style="margin:0 0 0 43%"  color="warn">Submit</button>
      </div>
      <p style="text-align: center;color:red" *ngIf="loginForm.status=='INVALID'&&loginForm.touched">Form details are not valid</p>
    </form> 
  </div>
</div>