@media screen and (max-width: 600px) {
    .bannerDiv{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        padding-top:30%;
    }
    .pictures{
        width:70%;
    }
    .headerImage{
        height:15vh;
        width:30vw;
    }
    .restaurantName{
        font-size: 20px;
        font-weight: 600;
        margin:0;
    }
    .restaurantDetails{
        font-size:10px
    }
    .header{
        height:30vh;
        padding:10px;
    }
    .matPanel{
        font-size:10px;
    }
    .cart-button{
        height:30px;
        width:30px;
        font-size:15px;
    }
    .menu{
        width:60%;
        margin:0 auto;
    }
    .cart{
        width:80%;
        margin:10px auto;
    }
    .cart-button-1{
        font-size:7px;
    }
    .map{
        width:90vw;
        margin:0 auto;
        height:40vh;
    }

}
@media screen and (min-width: 600px) {
    .bannerDiv{
        width:25%;
        margin-left:auto;
        margin-right:auto;
        padding-top:10%;        
    }
    .pictures{
        width:50%;        
    }
    .headerImage{
        height:30vh;
        width:20vw;
    }
    .restaurantName{
        font-size: 7vh;
        font-weight: 600;
        margin:0;
    }
    .matPanel{
        font-size:20px;
    }
    .cart-button{
        height:40px;
        width:40px;
    }
    .menu{
        width:60%;
        float:left;
    }
    .cart{
        width:38%;
        float:right;
    }
    .header{
        height:40vh;
        padding:2vw 2vh;
    }
    .map{
        width:90vw;
        height:400px;
        margin:0 auto;
    }
}